<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.spring.dao.joinmemberdao">
    
    <!--email 중복체크 -->
		<select id="ajaxGetId" parameterType="String" resultType="String">
		   select user_id from userboard
		   where user_id = #{value}
		</select>
	
	
	<!--Nick name 중복체크 -->
		<select id="getNick" parameterType="String" resultType="String">
			select * from userboard
			where user_nick=#{value}
		</select>


	
   <!-- Nation 선택 -->
		<select id="selectcontinent" parameterType="String" resultType="java.util.HashMap">
	 	     select country_no, country_name from nation 
	         where continent = #{value} 
	         order by country_name  
	 	</select> 
	 	
	 	
   <!-- 국가번호->국가명으로 바꿈 -->
	 	
	 	 <select id="getJoinnation" parameterType="String"  resultType="String">
	      	select country_name from nation where country_no=#{value}
	     </select> 
	  	
	 	
  <!-- 가입정보 DB저장 -->
	 	<insert id="joinMemberInsert" parameterType="com.bit.web.vo.JoinSeoulBean">
	        INSERT INTO 
	 		userboard(user_id,user_nick,user_pw,country_no,user_birth,user_gender,user_pp,user_first)
	 		values(#{user_id},#{user_nick},#{user_pw},#{country_no},#{user_birth},#{user_gender},#{user_pp},#{user_first})
	   </insert>
	   
	   
<!--  password 변경 -->
      <update id="joinPwUpdate" parameterType="java.util.HashMap">
           update userboard
			set user_pw = #{user_pw}
			where user_id = #{user_id}   
      </update>

</mapper>






















