<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.spring.dao.boardMemberDao">

	<select id="selectMusicalList" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=1 AND LOC_PC<=7
		]]>
	</select>
	
	<select id="selectMusicalList2" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,PTITLE FROM TICKETDB WHERE LOC_PC>=8 AND LOC_PC<=12
		]]>
	</select>
	
	<select id="selectMusicalList3" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=13 AND LOC_PC<=17
		]]>
	</select>
	
	<select id="selectMusicalList4" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE,RANKING FROM TICKETDB WHERE LOC_PC>=18 AND LOC_PC<=22
		]]>
	</select>
	
	<select id="selectMusicalList5" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=23 AND LOC_PC<=25
		]]>
	</select>
	
	
	<select id="selectMovieList" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=26 AND LOC_PC<=32
		]]>
	</select>
	
	<select id="selectMovieList2" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,PTITLE FROM TICKETDB WHERE LOC_PC>=33 AND LOC_PC<=37
		]]>
	</select>
	
	<select id="selectMovieList3" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=38 AND LOC_PC<=42
		]]>
	</select>
	
	<select id="selectMovieList4" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE,RANKING FROM TICKETDB WHERE LOC_PC>=43 AND LOC_PC<=47
		]]>
	</select>
	
	<select id="selectMovieList5" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=48 AND LOC_PC<=50
		]]>
	</select>
	
	
	<select id="selectTheaterList" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=51 AND LOC_PC<=57
		]]>
	</select>
	
	<select id="selectTheaterList2" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,PTITLE FROM TICKETDB WHERE LOC_PC>=58 AND LOC_PC<=62
		]]>
	</select>
	
	<select id="selectTheaterList3" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=63 AND LOC_PC<=67
		]]>
	</select>
	
	<select id="selectTheaterList4" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE,RANKING FROM TICKETDB WHERE LOC_PC>=68 AND LOC_PC<=72
		]]>
	</select>
	
	<select id="selectTheaterList5" resultType="MusicalBean">
	<![CDATA[
		SELECT LOC_PC,TITLE,IMGSRC,DETAIL,PTITLE FROM TICKETDB WHERE LOC_PC>=73 AND LOC_PC<=75
		]]>
	</select>
	
	<select id="selectTicketInfo" parameterType="Integer" resultType="MusicalBean">
		SELECT LOC_PC, TITLE, RUNDATE, LOC_NAME, IMGSRC, REVIEWS, GRADE, RUNTIME, PERFORMER, PRICE FROM TICKETDB
		WHERE LOC_PC=#{VALUE}
	</select>
	
	<select id="selectBookingInfo" parameterType="Integer" resultType="MusicalBean">
		SELECT LOC_PC, TITLE, LOC_NAME, IMGSRC, REVIEWS, GRADE, RUNTIME FROM TICKETDB
		WHERE LOC_PC=#{VALUE}
	</select>
	
	
<!-- 	<select id="selectSeqNumber" resultType="Integer"> -->
<!-- 		SELECT MUSICALLIST_DWQ.NEXT -->
<!-- 	</select> -->

</mapper>